<div class="parent">
        <div>
            <h1>Loans System</h1>
        </div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input type="text" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="guest">
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="**********">
                <mat-error *ngIf="emailFormControl.hasError('required')">
                Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <div class="buttons">
                <button mat-raised-button class="button">Sign up</button>
                <button mat-raised-button color="primary" class="button">Log in</button>
            </div>
        </form>
</div>
<footer class="parent">
    LoansProyect . Franco Duarte <strong> Grupo San Cristobal | UTN </strong>
</footer>