<div class="parent">
        <div>
            <h1>Loans System - Ingresar</h1>
        </div>
        <form class="example-form" [formGroup]="formLogin" (ngSubmit)="OnSubmit()">

            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input type="text" matInput formControlName="username" [errorStateMatcher]="matcher" placeholder="guest" name="username">
                <mat-error *ngIf="requireWarn('username')">
                    Username <strong> {{errorMsg('username')}} </strong>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher" name="password" placeholder="**********">
                <mat-error *ngIf="requireWarn('password')">
                    Password <strong> {{errorMsg('password')}} </strong>
                </mat-error>
            </mat-form-field>

            <div class="buttons">
                <a mat-raised-button class="button" (click)="register()">Registrarse</a>
                <button [disabled]="loading" mat-raised-button color="primary" class="button">
                    Ingresar
                </button>
            </div>
        </form>
        <span *ngIf="loading" class="spinner"> <mat-progress-spinner [color]="color" [mode]="mode" [value]="value" [diameter]="diameter"></mat-progress-spinner> </span>
</div>